body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #383838;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.link {
  color: #78db99;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;
}

.link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  right: 0;
  background-color: #78db99;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.link:hover {
  color: #78db99;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
